body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:804px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:804px;
}
#u1 {
  position:absolute;
  left:2px;
  top:394px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:50%;
  margin-left:-190px;
  top:50%;
  margin-top:-125px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:250px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:250px;
}
#u4 {
  position:absolute;
  left:2px;
  top:117px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:20px;
  top:20px;
  width:278px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:40px;
  top:120px;
  width:300px;
  height:50px;
  font-size:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:144px;
  top:202px;
  width:91px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#CCCCCC;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:250px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:250px;
}
#u12 {
  position:absolute;
  left:2px;
  top:117px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:20px;
  top:20px;
  width:274px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:40px;
  top:120px;
  width:300px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u2_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
