body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  height:150px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
  line-height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
