body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:40px;
  width:140px;
  height:15px;
}
#u1 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u0_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2 {
  position:absolute;
  left:10px;
  top:70px;
  width:160px;
  height:15px;
}
#u3 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u2_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4 {
  position:absolute;
  left:10px;
  top:100px;
  width:160px;
  height:15px;
}
#u5 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u4_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6 {
  position:absolute;
  left:10px;
  top:130px;
  width:160px;
  height:15px;
}
#u7 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u6_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8 {
  position:absolute;
  left:10px;
  top:160px;
  width:160px;
  height:15px;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:10px;
  top:10px;
  width:140px;
  height:15px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:10px;
  top:190px;
  width:160px;
  height:15px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:10px;
  top:245px;
  width:140px;
  height:15px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:10px;
  top:275px;
  width:160px;
  height:15px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:10px;
  top:305px;
  width:160px;
  height:15px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:10px;
  top:335px;
  width:160px;
  height:15px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:10px;
  top:365px;
  width:160px;
  height:15px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:10px;
  top:215px;
  width:140px;
  height:15px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:10px;
  top:395px;
  width:160px;
  height:15px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:10px;
  top:455px;
  width:140px;
  height:15px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:10px;
  top:485px;
  width:160px;
  height:15px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:10px;
  top:515px;
  width:160px;
  height:15px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:10px;
  top:545px;
  width:160px;
  height:15px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:10px;
  top:575px;
  width:160px;
  height:15px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:10px;
  top:425px;
  width:140px;
  height:15px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:10px;
  top:605px;
  width:160px;
  height:15px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:10px;
  top:660px;
  width:140px;
  height:15px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:10px;
  top:690px;
  width:160px;
  height:15px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:10px;
  top:720px;
  width:160px;
  height:15px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:10px;
  top:750px;
  width:160px;
  height:15px;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:10px;
  top:780px;
  width:160px;
  height:15px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:10px;
  top:630px;
  width:140px;
  height:15px;
}
#u53 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u52_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54 {
  position:absolute;
  left:10px;
  top:810px;
  width:160px;
  height:15px;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
