body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2000px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2000px;
}
#u1 {
  position:absolute;
  left:2px;
  top:992px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:50%;
  margin-top:-205px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:410px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:410px;
}
#u7 {
  position:absolute;
  left:2px;
  top:197px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:330px;
  top:180px;
  width:1020px;
  height:410px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:410px;
}
#u9 {
  position:absolute;
  left:2px;
  top:197px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:330px;
  top:620px;
  width:1020px;
  height:410px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:410px;
}
#u11 {
  position:absolute;
  left:2px;
  top:197px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:330px;
  top:1060px;
  width:1020px;
  height:410px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:410px;
}
#u13 {
  position:absolute;
  left:2px;
  top:197px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
